h1{
    color: purple;
    text-align: center;
}
*{
    text-align: center;
}
header{
    background-color: blue;

}
#form{
    padding-top: 20px;
    color: white;
    background-color: blue;
    border-radius: 5%;
    justify-self: center;
    width: 50%;
}
#form_login{
    padding-top: 20px;
    color: white;
    background-color: blue;
    border-radius: 5%;
    justify-self: center;
    width: 50%;
}
input{
    width: 80%;
}
#form label{
    margin-top: 10px;
    
}
#register_header{
    color: white;
}
#submit{
    background-color: orange;
    margin: 50px;
    width: 5rem;
}